*{
    font-family:'Sriracha', cursive; ;
}
body{
    background-color: whitesmoke;
}
#head{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
#inhead{
    border: solid 7px ;
    width: 270px;
    border-radius: 5px;
    font-size: 30px;
}
#content1{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
#incontent1{
    border: solid 7px black;
    font-size: 35px;
    border-radius: 5px;
    width: 740px; ;
}
#incontent1 p{
    float: left;
    margin-left: 10px;
}
#incontent1 img{
    float: right;
    width: 400px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#content2{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
#incontent2{
    border: solid 7px black;
    font-size: 35px;
    border-radius: 5px;
    width: 740px; ;
}
#incontent2 p{
    float: left;
    margin-left: 10px;
}
#incontent2 img{
    float: right;
    width: 400px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#content3{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
#incontent3{
    border: solid 7px black;
    font-size: 35px;
    border-radius: 5px;
    width: 740px; ;
}
#incontent3 p{
    float: left;
    margin-left: 10px;
}
#incontent3 img{
    float: right;
    width: 400px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#content4{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
#incontent4{
    border: solid 7px black;
    font-size: 35px;
    border-radius: 5px;
    width: 740px; ;
}
#incontent4 p{
    float: left;
    margin-left: 10px;
}
#incontent4 img{
    float: right;
    width: 400px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#content5{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
#incontent5{
    border: solid 7px black;
    font-size: 35px;
    border-radius: 5px;
    width: 740px; ;
}
#incontent5 p{
    float: left;
    margin-left: 10px;
}
#incontent5 img{
    float: right;
    width: 400px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#content6{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
#incontent6{
    border: solid 7px black;
    font-size: 35px;
    border-radius: 5px;
    width: 740px; ;
}
#incontent6 p{
    float: left;
    margin-left: 10px;
}
#incontent6 img{
    float: right;
    width: 400px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#content7{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
#incontent7{
    border: solid 7px black;
    font-size: 35px;
    border-radius: 5px;
    width: 740px; ;
}
#incontent7 p{
    float: left;
    margin-left: 10px;
}
#incontent7 img{
    float: right;
    width: 400px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#head2{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
}
#inhead2{
    border: solid 7px ;
    width: 270px;
    border-radius: 5px;
    font-size: 30px;
}
#content8{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
#incontent8{
    border: solid 7px black;
    font-size: 35px;
    border-radius: 5px;
    width: 740px; ;
}
#incontent8 p{
    float: left;
    margin-left: 10px;
}
#incontent8 img{
    float: right;
    width: 400px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#content9{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
#incontent9{
    border: solid 7px black;
    font-size: 35px;
    border-radius: 5px;
    width: 740px; ;
}
#incontent9 p{
    float: left;
    margin-left: 10px;
}
#incontent9 img{
    float: right;
    width: 400px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

